.header .header-container {
  max-width: 1530px;
  margin: auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header .header-helper {
  -ms-flex-preferred-size: 165px;
      flex-basis: 165px;
  max-width: 165px; }

.header .header-logo {
  padding: 3rem 0; }

.header .header-lines img {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.lines {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center; }

.top .top-container {
  max-width: 1530px;
  margin: auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.top .top-description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center; }
  .top .top-description span {
    display: block; }
  .top .top-description__image {
    margin: 102px 0 80px; }
  .top .top-description .lines {
    margin: 90px 0 70px; }

.top__text {
  font-size: 32px;
  font-family: "pfdintextcomppro-regular", sans-serif;
  letter-spacing: 2.5px;
  color: #010101;
  line-height: 0.811; }
  .top__text_bold_red {
    color: #ee2f2a;
    font-family: 'PFDinText-Medium', sans-serif;
    font-size: 120px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 4.7px;
    text-transform: uppercase; }
  .top__text_date {
    font-size: 43px;
    font-family: "pfdintextcomppro-regular", sans-serif;
    letter-spacing: 3px;
    line-height: 0.811;
    text-transform: uppercase; }
