.mentors.index3 .mentors-list__label {
  line-height: 1.2;
  text-transform: uppercase; }

.mentors-video {
  padding: 115px 1rem 0; }
  @media screen and (max-width: 767px) {
    .mentors-video {
      padding-top: 25px; } }
  .mentors-video__title {
    font-size: 50px;
    font-family: "Oswald-Regular", sans-serif;
    color: #292929;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .mentors-video__title {
        font-size: 30px; } }

.video-item {
  margin-top: 50px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .video-item {
      margin-top: 20px; } }
  .video-item .embed-responsive {
    max-width: 992px;
    margin: auto; }
  .video-item .js-videoIframe {
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0; }
    .video-item .js-videoIframe .video-button {
      background-color: transparent;
      cursor: pointer;
      max-width: 100px;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      .video-item .js-videoIframe .video-button svg {
        width: 100%;
        opacity: 0.6; }

.talent.index3 {
  padding-bottom: 70px; }
  @media screen and (max-width: 767px) {
    .talent.index3 {
      padding-bottom: 25px; } }
  .talent.index3 .talent__date {
    text-transform: uppercase; }
  .talent.index3 .talent__text {
    max-width: 85%; }
    @media screen and (max-width: 767px) {
      .talent.index3 .talent__text {
        max-width: 100%; } }
  .talent.index3 .feedback-casting-form {
    width: 100%; }
    .talent.index3 .feedback-casting-form__text {
      text-align: center; }
      .talent.index3 .feedback-casting-form__text p {
        color: #292929;
        font-family: "Oswald-Regular", sans-serif;
        font-size: 24px;
        margin-bottom: 0; }
        @media screen and (max-width: 767px) {
          .talent.index3 .feedback-casting-form__text p {
            font-size: 16px; } }
  .talent.index3 .feedback-casting-form-success {
    height: auto; }
  .talent.index3 .feedback-casting-form-success-row {
    height: auto; }
  .talent.index3 .feedback-casting-form-success-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .talent.index3 .feedback-casting-form-attention-wrapper {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }
    @media screen and (max-width: 767px) {
      .talent.index3 .feedback-casting-form-attention-wrapper {
        text-align: center; } }
  .talent.index3 .feedback-casting-form-progress__digit {
    text-align: center; }
  .talent.index3 .feedback-casting-form-attention {
    max-width: 225px;
    margin-top: 1rem;
    font-size: 14px; }
  .talent.index3 .feedback-casting-form__button {
    padding: 1rem;
    max-width: 225px; }
    .talent.index3 .feedback-casting-form__button span {
      font-size: 18px; }
  .talent.index3 .feedback-casting-form__download {
    max-width: 225px; }
    @media screen and (max-width: 767px) {
      .talent.index3 .feedback-casting-form__download {
        margin: auto; } }
  @media screen and (max-width: 375px) {
    .talent.index3 .feedback-casting-form__license {
      padding-left: 0;
      font-size: 11px; } }
  @media screen and (max-width: 767px) {
    .talent.index3 .feedback-casting-form .container {
      width: 100%; } }
  .talent.index3 .feedback-casting-form-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333%;
            flex: 0 0 33.3333%;
    max-width: 33.3333%; }
    @media screen and (max-width: 767px) {
      .talent.index3 .feedback-casting-form-wrap {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; } }
    .talent.index3 .feedback-casting-form-wrap:first-child {
      margin-right: 1rem; }
    .talent.index3 .feedback-casting-form-wrap.license {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 320px;
      display: inline-block;
      padding-top: 1rem; }
      @media screen and (max-width: 767px) {
        .talent.index3 .feedback-casting-form-wrap.license {
          padding: 0 1rem;
          margin: 1rem auto 0; } }
      .talent.index3 .feedback-casting-form-wrap.license .checkmark {
        cursor: pointer;
        padding-left: 0;
        margin-right: 0; }
    .talent.index3 .feedback-casting-form-wrap span {
      padding-left: 1rem; }
