body {
  background: url(../img/body-bg.png) #f5f5f5 repeat;
  position: relative;
  z-index: 5; }

.header {
  background: url(../img/body-bg.png) #ffffff9e;
  background-size: cover;
  z-index: 0;
  position: relative;
  overflow: hidden; }
  .header-container:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    height: 65px;
    background: #3068b3;
    z-index: 2; }
  .header-wrap {
    padding: 0; }
  .header .header-part {
    background: #3068b3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 200px);
            flex: 0 0 calc(100% - 200px);
    max-width: calc(100% - 200px);
    width: calc(100% - 200px); }
  .header .header-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-center: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .header .header-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    max-width: 200px; }
    .header .header-logo__link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
  .header .header-nav {
    height: 65px;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 25px; }
    .header .header-nav__item {
      display: inline-block;
      margin-right: 40px; }
      .header .header-nav__item:last-child {
        margin-right: 0; }
    .header .header-nav__link {
      display: block;
      font-size: 16px;
      font-family: HelveticaNeueCyr, sans-serif;
      color: #fff; }
  .header .header-social {
    justify-self: center;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .header-social__link {
      font-family: HelveticaNeueCyr, sans-serif; }
      .header .header-social__link:hover {
        text-decoration: none; }
      .header .header-social__link img {
        margin-right: 10px; }
      .header .header-social__link span {
        color: #fff;
        font-family: HelveticaNeueCyr, sans-serif;
        font-size: 16px; }
    .header .header-social__item:first-child {
      margin-right: 40px; }
  .header__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    border-radius: 23px;
    background-color: #5a9ff8;
    color: #fff;
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 18px;
    padding: 0 35px;
    height: 45px; }
    .header__link:hover {
      color: #fff;
      text-decoration: none; }
  .header .header-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header .header-login__part {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .header .header-login__part:hover {
        text-decoration: none; }
    .header .header-login__name {
      color: #ffffff;
      font-family: HelveticaNeueCyr, sans-serif;
      display: inline-block;
      margin: 0 7.5px; }

.main-content {
  background-color: #f5f5f5; }
  .main-content-wrap {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .main-content__title {
    color: #3068b3;
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 32px;
    margin: 53.5px 0 35.5px;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }

.columns {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .columns {
      width: 100%; } }
  .columns__btn {
    background: #3068b3;
    border-radius: 23px;
    color: #fff;
    display: inline-block;
    margin: 32.5px auto 0;
    padding: 10px 100px;
    text-transform: uppercase; }
    .columns__btn:hover {
      color: #fff;
      text-decoration: none; }
  .columns__icon {
    width: 60px;
    height: 60px;
    margin-top: 68px; }
    .columns__icon-center {
      width: 30px;
      height: 30px;
      margin-top: 100.5px; }
  .columns .columns-give {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 60px);
            flex: 0 0 calc(50% - 60px);
    max-width: calc(50% - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 25px;
    padding-left: 60px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .columns .columns-give {
        width: calc(50% - 60px); } }
    .columns .columns-give .columns-wrap {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(100% - 60px);
              flex: 0 0 calc(100% - 60px);
      max-width: calc(100% - 60px);
      padding-left: 23px;
      padding-right: 10.5px; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .columns .columns-give .columns-wrap {
          width: calc(100% - 60px); } }
    .columns .columns-give__row {
      position: relative; }
      .columns .columns-give__row:after {
        color: #b4b4b4;
        font-family: HelveticaNeueCyr, sans-serif;
        content: 'BTC';
        position: absolute;
        top: 11.5px;
        left: 87.5%; }
    .columns .columns-give__title {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(100% - 60px);
              flex: 0 0 calc(100% - 60px);
      max-width: calc(100% - 60px);
      text-transform: uppercase;
      margin-bottom: 25px;
      margin-top: 18px; }
    .columns .columns-give__select {
      background: url(../img/select.png) no-repeat 95% center;
      border: 1px solid #418cef;
      border-radius: 23px;
      color: #5e5e5e;
      height: 45px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      font-family: HelveticaNeueCyr, sans-serif;
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px;
      padding: 10px 20px; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .columns .columns-give__select {
          width: 100%; } }
    .columns .columns-give__input {
      border: 1px solid #b4b4b4;
      border-radius: 23px;
      color: #5e5e5e;
      height: 45px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      font-family: HelveticaNeueCyr, sans-serif;
      max-width: 100%;
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 25px; }
      .columns .columns-give__input:focus {
        border-color: #418cef; }
  .columns .columns-get {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 60px);
            flex: 0 0 calc(50% - 60px);
    max-width: calc(50% - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 25px;
    padding-right: 60px; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .columns .columns-get {
        width: calc(50% - 60px); } }
    .columns .columns-get .columns-wrap {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(100% - 60px);
              flex: 0 0 calc(100% - 60px);
      max-width: calc(100% - 60px);
      padding-right: 23px;
      padding-left: 10.5px; }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .columns .columns-get .columns-wrap {
          width: calc(100% - 60px); } }
    .columns .columns-get__row {
      position: relative; }
      .columns .columns-get__row:after {
        color: #b4b4b4;
        font-family: HelveticaNeueCyr, sans-serif;
        content: 'USD';
        position: absolute;
        top: 11.5px;
        left: 87.5%; }
    .columns .columns-get__title {
      font-family: HelveticaNeueCyr, sans-serif;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 calc(100% - 60px);
              flex: 0 0 calc(100% - 60px);
      max-width: calc(100% - 60px);
      text-transform: uppercase;
      margin-bottom: 25px;
      margin-top: 18px; }
    .columns .columns-get__select {
      background: url(../img/select.png) no-repeat 95% center;
      border: 1px solid #418cef;
      border-radius: 23px;
      color: #5e5e5e;
      height: 45px;
      font-family: HelveticaNeueCyr, sans-serif;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 30px;
      padding: 10px 20px; }
    .columns .columns-get__input {
      border: 1px solid #b4b4b4;
      border-radius: 23px;
      color: #5e5e5e;
      height: 45px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      font-family: HelveticaNeueCyr, sans-serif;
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 25px; }
      .columns .columns-get__input:focus {
        border-color: #418cef; }
    .columns .columns-get__info {
      font-family: HelveticaNeueCyr, sans-serif;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      font-size: 17px;
      max-width: 100%;
      padding-left: 10.5px;
      padding-top: 7.5px; }
      .columns .columns-get__info span {
        color: #3068b3; }
    .columns .columns-get__text:first-child {
      margin-bottom: 1rem; }

.sub-content {
  background-color: #f5f5f5;
  padding-bottom: 80px; }
  .sub-content-wrap {
    padding: 0; }

.works {
  background-color: #fff;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 3);
            flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    padding-left: 85px;
    min-height: 85px; }
    .works__item:nth-child(1) {
      background: url(../img/vector1.png) no-repeat 0 0; }
    .works__item:nth-child(2) {
      background: url(../img/vector2.png) no-repeat 0 0; }
    .works__item:nth-child(3) {
      background: url(../img/vector3.png) no-repeat 0 0; }
  .works__title {
    color: #3068b3;
    font-family: HelveticaNeueCyr, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase; }
  .works__description {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.4; }

.footer {
  background: #3068b3;
  padding: 22px 0; }
  .footer-wrap {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer .footer-logo_white {
      display: inline-block;
      color: #fff;
      font-size: 40px;
      font-family: HelveticaNeueCyrBlack, sans-serif;
      font-weight: bold; }
    .footer .footer-logo_blue {
      display: inline-block;
      color: #5a9ff8;
      font-size: 40px;
      font-family: HelveticaNeueCyrBlack, sans-serif;
      font-weight: bold; }
    .footer .footer-logo:hover {
      text-decoration: none; }
  .footer .footer-center {
    justify-self: center;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .footer .footer-center__schedule {
      padding-right: 25px; }
      .footer .footer-center__schedule span {
        color: #fff;
        font-size: 16px;
        font-family: HelveticaNeueCyr, sans-serif;
        display: block; }
    .footer .footer-center__social {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-left: 25px; }
      .footer .footer-center__social span {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 120px;
                flex: 0 0 120px;
        max-width: 120px;
        color: #fff;
        font-size: 16px;
        font-family: HelveticaNeueCyr, sans-serif;
        display: block;
        margin-right: 1rem;
        display: inline-block; }
      .footer .footer-center__social img {
        margin-right: 1rem; }
  .footer__anchor {
    background-color: #418cef;
    border-radius: 5px;
      border-radius-width: 46px;
      border-radius-height: 46px;
      border-radius-display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 11px 18px;
    margin-right: 6px; }
