@charset "UTF-8";
/* PHOTOS-PAGE */
.header-from-main-page {
  -webkit-box-shadow: 0 0 8px rgba(97, 100, 111, 0.2);
          box-shadow: 0 0 8px rgba(97, 100, 111, 0.2);
  display: none; }
  @media screen and (max-width: 767px) {
    .header-from-main-page {
      display: block; } }

.header-photos__container {
  border-bottom: 1px solid rgba(97, 100, 111, 0.2);
  -webkit-box-shadow: 0 0 8px rgba(97, 100, 111, 0.2);
          box-shadow: 0 0 8px rgba(97, 100, 111, 0.2);
  max-width: 1260px;
  margin: auto; }
  @media screen and (max-width: 1275px) {
    .header-photos__container {
      max-width: 100%;
      padding: 0 1rem; } }

.header-photos--top {
  background-color: #161616;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-photos--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header-photos--bottom .player__text {
    line-height: normal; }
    @media screen and (max-width: 992px) {
      .header-photos--bottom .player__text {
        display: none; } }

.header-photos__town {
  background-color: #1e1e1e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-weight: 500;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 213px;
          flex: 0 0 213px;
  max-width: 213px;
  height: 46px;
  text-transform: uppercase;
  text-align: center; }

.header-photos__online {
  margin-left: auto;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 320px;
  overflow: hidden; }
  @media all and (-ms-high-contrast: none) {
    .header-photos__online {
      min-width: 144px; } }
  @media screen and (max-width: 767px) {
    .header-photos__online {
      max-width: 100%;
      margin-left: 0;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      height: 80px; }
      .header-photos__online .header__live-write, .header-photos__online .header__live {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%;
        width: 50%; } }
  @media screen and (max-width: 580px) {
    .header-photos__online {
      height: 52px; } }

.header-photos__listen {
  background-color: #1e1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  padding: 0 10px; }
  .header-photos__listen-digits {
    color: #e1e1e2;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.31px;
    text-transform: uppercase;
    letter-spacing: 0.6px; }
  .header-photos__listen-text {
    color: #e1e1e2;
    font-family: "Proxima Nova", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.3px;
    margin-left: 5px;
    text-transform: none;
    width: 70px; }

.header-photos__search {
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  font-size: 14px;
  font-family: "Proxima Nova", sans-serif;
  text-transform: uppercase; }

.header-photos__geographic {
  color: #fff; }
  .header-photos__geographic span {
    font-size: 12px;
    font-family: "Proxima Nova", sans-serif;
    text-transform: uppercase; }
  .header-photos__geographic img {
    margin: 0 20px; }

.header-photos .header__logo {
  width: 213px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 213px;
          flex: 0 0 213px;
  max-width: 213px; }
  @media screen and (max-width: 767px) {
    .header-photos .header__logo {
      width: 180px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 180px;
              flex: 0 0 180px;
      max-width: 180px;
      height: 80px; } }
  @media screen and (max-width: 580px) {
    .header-photos .header__logo {
      width: 115px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 115px;
              flex: 0 0 115px;
      max-width: 115px;
      height: 52px; } }

.pages-list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 96px; }
  @media screen and (max-width: 992px) {
    .pages-list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0 1rem; } }
  @media screen and (max-width: 767px) {
    .pages-list {
      display: none; } }
  .pages-list__item {
    height: 100%;
    margin-right: 45px; }
    .pages-list__item:first-child {
      margin-left: 20px; }
    .pages-list__item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 992px) {
      .pages-list__item {
        margin: 0; }
        .pages-list__item:first-child, .pages-list__item:last-child {
          margin: 0; } }
  .pages-list__link {
    border-bottom: 5px solid transparent;
    color: #1c1b1a;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 34.31px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 5px;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    .pages-list__link:hover {
      border-bottom: 5px solid #ea5419;
      color: #1c1b1a;
      text-decoration: none; }
    @media screen and (max-width: 1199px) {
      .pages-list__link {
        font-size: 16px; } }
    @media screen and (max-width: 991px) {
      .pages-list__link {
        font-size: 14px; } }
  .pages-list .active {
    border-bottom: 5px solid #ea5419; }

.photos-page__content {
  display: block;
  margin-top: 44px; }
  @media screen and (max-width: 767px) {
    .photos-page__content {
      margin-top: 0; } }

.photos-page__container {
  max-width: 1260px;
  margin: auto; }
  @media screen and (max-width: 1275px) {
    .photos-page__container {
      max-width: 100%;
      padding: 0 1rem; } }

@media screen and (max-width: 767px) {
  .photos-page__title {
    font-size: 24px;
    padding: 1rem 0; } }

/*tabs*/
.nav-tabs-photos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 57px; }
  @media screen and (max-width: 1215px) and (min-width: 1060px) {
    .nav-tabs-photos {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media all and (-ms-high-contrast: none) {
    .nav-tabs-photos {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media screen and (max-width: 767px) {
    .nav-tabs-photos {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-top: 0; } }
  .nav-tabs-photos li:first-child {
    justify-self: flex-start;
    margin-right: auto; }
    @media screen and (max-width: 767px) {
      .nav-tabs-photos li:first-child {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; } }
  @media screen and (max-width: 1215px) and (min-width: 1060px) {
    .nav-tabs-photos li:last-child {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      margin-top: 0;
      justify-self: flex-end;
      margin-left: auto; } }
  .nav-tabs-photos .photo-filter {
    padding-right: 0; }

.nav-tabs-photos-page {
  border: none; }
  @media screen and (max-width: 1215px) {
    .nav-tabs-photos-page {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .nav-tabs-photos-page .nav-item {
    border: none;
    border-radius: 2px; }
    @media screen and (max-width: 580px) {
      .nav-tabs-photos-page .nav-item {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% / 3);
                flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3); } }
  .nav-tabs-photos-page .nav-link {
    border-radius: 2px;
    border: 1px solid #f1ebec;
    font-size: 16px;
    font-family: "Proxima Nova", sans-serif;
    color: #bcbdbc;
    line-height: 2.144;
    display: block;
    padding: 0 14.5px; }
    .nav-tabs-photos-page .nav-link:hover {
      text-decoration: none; }
    @media screen and (max-width: 580px) {
      .nav-tabs-photos-page .nav-link {
        font-size: 12px;
        padding: 0 10px;
        text-align: center; } }
  .nav-tabs-photos-page .nav-link.active {
    background-color: #ea5419;
    color: #fff; }

.tab-content-photos-page .tab-pane__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px; }

.tab-content-photos-page .tab-pane__photo {
  margin-bottom: 20px;
  position: relative; }
  @media screen and (max-width: 1275px) {
    .tab-content-photos-page .tab-pane__photo {
      max-width: 32%; } }
  @media screen and (max-width: 767px) {
    .tab-content-photos-page .tab-pane__photo {
      max-width: 49%; } }
  @media screen and (max-width: 580px) {
    .tab-content-photos-page .tab-pane__photo {
      max-width: 100%;
      width: 100%; } }

.tab-content-photos-page .tab-pane__images {
  max-width: 406px;
  position: relative; }
  @media screen and (max-width: 1275px) {
    .tab-content-photos-page .tab-pane__images {
      max-width: 100%; } }
  .tab-content-photos-page .tab-pane__images img {
    width: 100%; }

.tab-content-photos-page .tab-pane__text {
  -webkit-box-shadow: 0 0 6px #bdcbcc;
          box-shadow: 0 0 6px #bdcbcc;
  border-radius: 2px;
  line-height: 24px;
  padding: 12px 23px;
  height: 67px; }
  .tab-content-photos-page .tab-pane__text a {
    color: #1c1b1a;
    display: block;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 17px;
    font-weight: 400; }
    .tab-content-photos-page .tab-pane__text a:hover {
      text-decoration: none; }
    @media all and (-ms-high-contrast: none) {
      .tab-content-photos-page .tab-pane__text a {
        font-family: "Proxima Nova", sans-serif; } }

.tab-content-photos-page .tab-pane__icon {
  position: absolute;
  left: 20px;
  top: 12px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .tab-content-photos-page .tab-pane__icon:nth-child(2) {
    left: 90px; }
  .tab-content-photos-page .tab-pane__icon .icon-svg {
    width: 17px;
    height: 17px; }
  .tab-content-photos-page .tab-pane__icon .eye {
    width: 24px;
    height: 20px; }
  .tab-content-photos-page .tab-pane__icon span {
    display: inline-block;
    color: #fff;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.65px;
    margin-left: 6px; }

.tab-content-photos-page .tab-pane__load {
  margin-top: 30px;
  text-align: center; }
  .tab-content-photos-page .tab-pane__load .load-more {
    border-radius: 2px;
    background-color: #eeeeee;
    display: inline-block;
    color: #1c1b1a;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    padding: 14.5px 60px; }
    .tab-content-photos-page .tab-pane__load .load-more:hover {
      text-decoration: none; }

.tab-content-photos-page .tab-pane .download {
  position: absolute;
  top: 12px; }

/*/tabs*/
.photo-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1rem;
  position: relative; }
  @media screen and (max-width: 1215px) {
    .photo-filter {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      margin-top: 32px;
      padding: 0; } }
  .photo-filter #slider-date {
    width: 350px;
    height: 7px;
    margin: 0 1rem; }
    @media screen and (max-width: 855px) {
      .photo-filter #slider-date {
        width: 100%;
        margin: 35px 0 0; } }
    .photo-filter #slider-date .noUi-handle {
      background-color: #fff;
      border: 3px solid #ea5419;
      border-radius: 2px;
      cursor: pointer;
      width: 16px;
      height: 16px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
      .photo-filter #slider-date .noUi-handle:before, .photo-filter #slider-date .noUi-handle:after {
        display: none; }
    .photo-filter #slider-date .noUi-handle-lower {
      right: -21px; }
    .photo-filter #slider-date .noUi-handle-upper {
      right: -12px; }
    .photo-filter #slider-date .noUi-connect {
      background-color: #ea5419; }
  .photo-filter__label {
    color: #bcbdbc;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 34.31px;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 0; }
    @media screen and (max-width: 1260px) and (min-width: 1216px) {
      .photo-filter__label {
        margin-left: 0;
        font-size: 13px; } }
    @media screen and (max-width: 1215px) {
      .photo-filter__label {
        margin: 0;
        padding: 0;
        display: none; } }
  .photo-filter__period {
    color: #8b8d8b;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 34.31px;
    overflow: hidden; }
    @media screen and (max-width: 1260px) {
      .photo-filter__period {
        font-size: 12px; } }
    @media screen and (max-width: 855px) {
      .photo-filter__period {
        position: absolute; } }
    @media screen and (max-width: 580px) {
      .photo-filter__period {
        font-size: 10px; } }
    .photo-filter__period-start:before {
      content: 'с';
      margin-right: 5px; }
    @media screen and (max-width: 855px) {
      .photo-filter__period-start {
        width: auto;
        height: auto;
        display: inline-block;
        line-height: 1;
        left: 0;
        top: 0; } }
    .photo-filter__period-end:before {
      content: 'по';
      margin-right: 5px; }
    @media screen and (max-width: 855px) {
      .photo-filter__period-end {
        width: auto;
        height: auto;
        display: inline-block;
        line-height: 1;
        right: 0;
        top: 0; } }
  .photo-filter .ui-slider-range {
    background: #ea5419;
    border: none; }
  .photo-filter .ui-slider-handle {
    background-color: #ffff !important;
    cursor: pointer !important;
    width: 16px !important;
    height: 16px !important;
    border: 3px solid #ea5419 !important;
    border-radius: 2px; }

.photos-post__container {
  max-width: 1260px;
  margin: auto; }
  @media screen and (max-width: 1275px) {
    .photos-post__container {
      max-width: 100%;
      padding: 0 1rem; } }

.photos-post__title {
  color: #1c1b1a;
  font-size: 31px;
  letter-spacing: 0.6px;
  text-transform: none;
  padding: 52.5px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 767px) {
    .photos-post__title {
      font-size: 24px;
      font-family: "Proxima Nova", sans-serif;
      color: #1c1b1a;
      line-height: 1.083;
      position: relative;
      padding: 1rem 0 2rem; }
      .photos-post__title--text {
        display: block;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; } }
  @media screen and (max-width: 770px) and (min-width: 768px) {
    .photos-post__title {
      font-size: 22px; } }

.photos-post .download-all {
  border-radius: 2px;
  background-color: #ea5419;
  height: 48px;
  line-height: 48px;
  justify-self: flex-end;
  margin-left: auto;
  font-size: 13px;
  font-family: "Proxima Nova", sans-serif;
  color: white;
  padding: 0 1rem;
  text-transform: uppercase; }
  .photos-post .download-all:hover {
    text-decoration: none; }
  @media screen and (max-width: 767px) {
    .photos-post .download-all {
      justify-self: flex-start;
      margin-left: 0;
      margin-top: 35px; } }

.photos-post__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px; }

.photos-post__item {
  margin-bottom: 2%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  max-width: 32%;
  position: relative; }
  @media screen and (max-width: 767px) {
    .photos-post__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 49%;
              flex: 0 0 49%;
      max-width: 49%; } }
  @media screen and (max-width: 580px) {
    .photos-post__item {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; } }
  .photos-post__item a {
    display: block; }
  .photos-post__item img {
    width: 100%;
    height: 251px; }
    @media screen and (max-width: 1199px) {
      .photos-post__item img {
        height: 200px; } }
    @media screen and (max-width: 991px) {
      .photos-post__item img {
        height: 160px; } }
    @media screen and (max-width: 767px) {
      .photos-post__item img {
        height: auto; } }

.photos-post .tab-pane__icon {
  position: absolute;
  left: 5px;
  top: 65%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos-post .tab-pane__icon:nth-child(2) {
    left: 70px; }
  @media screen and (max-width: 767px) {
    .photos-post .tab-pane__icon {
      left: 0;
      top: 40px; } }
  @media screen and (max-width: 580px) {
    .photos-post .tab-pane__icon {
      top: 42.5px; } }
  @media screen and (max-width: 419px) {
    .photos-post .tab-pane__icon {
      top: 68px; } }
  .photos-post .tab-pane__icon .icon-svg {
    width: 17px;
    height: 17px; }
  .photos-post .tab-pane__icon .eye-gray {
    width: 24px;
    height: 20px; }
  .photos-post .tab-pane__icon span {
    display: inline-block;
    color: #c6c6c6;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.65px;
    margin-left: 6px; }

.photos-post .download {
  position: absolute;
  cursor: pointer;
  left: auto;
  top: 12px;
  right: 25px; }
  .photos-post .download svg {
    width: 19px;
    height: 18px; }
    .photos-post .download svg:hover path {
      fill: #ea5419; }
