.header .header-container {
  max-width: 1530px;
  margin: auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media screen and (max-width: 767px) {
    .header .header-container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.header .header-helper {
  -ms-flex-preferred-size: 165px;
      flex-basis: 165px;
  max-width: 165px; }
  @media screen and (max-width: 767px) {
    .header .header-helper {
      display: none; } }

.header .header-logo {
  padding: 3rem 0; }
  @media screen and (max-width: 767px) {
    .header .header-logo {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      padding-top: 20px;
      text-align: center; } }
  .header .header-logo img {
    width: 165px;
    height: 107px; }

.header .header-lines img {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  @media screen and (max-width: 767px) {
    .header .header-lines img {
      -webkit-transform: unset;
          -ms-transform: unset;
              transform: unset; } }

.lines {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  height: 202px; }
  @media screen and (max-width: 767px) {
    .lines {
      display: none; } }
  .lines img {
    width: 278px;
    height: 202px; }

.lines-mob {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  height: 25px;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .lines-mob {
      display: block; } }
  .lines-mob img {
    width: 76px;
    height: 50px; }

.top .top-container {
  max-width: 1530px;
  margin: auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.top .top-description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center; }
  .top .top-description span {
    display: block; }
  .top .top-description__image {
    margin: 90px 0; }
  .top .top-description .lines {
    margin: 90px 0 60px; }
  .top .top-description .top-lines-mob {
    margin: 50px 0 100px;
    height: 50px; }

.top__text {
  font-size: 32px;
  font-family: "Oswald-Light", sans-serif;
  color: #010101;
  line-height: 0.811; }
  @media screen and (max-width: 767px) {
    .top__text {
      line-height: 1.3;
      font-size: 14px; } }
  .top__text_bold_red {
    color: #ee2f2a;
    font-family: "Oswald-SemiBold", sans-serif;
    font-size: 100px;
    line-height: 1;
    margin-top: 90px;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .top__text_bold_red {
        font-size: 48px;
        margin-top: 30px; } }
    @media screen and (max-width: 580px) {
      .top__text_bold_red {
        font-size: 44px; } }
  .top__text_big {
    color: #292929;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 80px;
    margin-top: 1rem;
    margin-bottom: 90px;
    line-height: 1;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .top__text_big {
        font-size: 30px;
        margin-bottom: 60px; } }
  .top__text_date {
    font-size: 43px;
    font-family: "Oswald-Light", sans-serif;
    letter-spacing: 3px;
    line-height: 1;
    margin-top: 0.5rem;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media screen and (max-width: 767px) {
      .top__text_date {
        font-size: 16px; } }
  .top__text_separator {
    background-color: #ee2f2a;
    display: inline-block;
    margin: 0 1rem;
    width: 3px;
    height: 39px; }
    @media screen and (max-width: 767px) {
      .top__text_separator {
        height: 16px;
        width: 2px; } }

.dance {
  background-color: #ee2f2a; }
  .dance .dance-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 1200px) {
      .dance .dance-container {
        height: 575px; } }
    @media screen and (max-width: 991px) {
      .dance .dance-container {
        height: 525px; } }
    @media screen and (max-width: 767px) {
      .dance .dance-container {
        height: 300px; } }
  .dance__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    min-height: 757px; }
    @media screen and (max-width: 1200px) {
      .dance__left {
        min-height: 1px;
        height: 575px; } }
    @media screen and (max-width: 991px) {
      .dance__left {
        height: 525px; } }
    @media screen and (max-width: 767px) {
      .dance__left {
        height: 300px; } }
    @media screen and (max-width: 650px) {
      .dance__left {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100px;
                flex: 0 0 100px;
        max-width: 100px; } }
    .dance__left .dance-image {
      position: absolute;
      bottom: 0;
      left: -37px; }
      @media screen and (max-width: 1450px) and (min-width: 1200px) {
        .dance__left .dance-image {
          left: -180px; } }
      @media screen and (max-width: 1200px) {
        .dance__left .dance-image {
          max-width: 750px;
          left: -25%; } }
      @media screen and (max-width: 991px) {
        .dance__left .dance-image {
          left: -65%; } }
      @media screen and (max-width: 767px) {
        .dance__left .dance-image {
          left: 0;
          max-width: 450px; } }
      @media screen and (max-width: 650px) {
        .dance__left .dance-image {
          left: -210px; } }
  .dance__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    min-height: 757px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 1200px) {
      .dance__right {
        min-height: 1px;
        height: 575px; } }
    @media screen and (max-width: 991px) {
      .dance__right {
        height: 525px; } }
    @media screen and (max-width: 767px) {
      .dance__right {
        height: 300px; } }
    @media screen and (max-width: 650px) {
      .dance__right {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 calc(100% - 100px);
                flex: 0 0 calc(100% - 100px);
        max-width: calc(100% - 100px); } }
  .dance__attention {
    font-size: 30px;
    font-family: "Oswald-Light", sans-serif;
    color: #fff;
    line-height: 1;
    margin-top: 52.5px;
    text-transform: uppercase; }
    @media screen and (max-width: 1200px) {
      .dance__attention {
        margin-top: 1rem; } }
    @media screen and (max-width: 991px) {
      .dance__attention {
        margin-top: 0; } }
    @media screen and (max-width: 767px) {
      .dance__attention {
        font-size: 14px;
        font-family: "Oswald-Light", sans-serif; } }
  .dance__title_big {
    color: #fff;
    display: block;
    font-family: "Oswald-SemiBold", sans-serif;
    font-size: 130px;
    line-height: 1;
    text-transform: uppercase; }
    @media screen and (max-width: 1200px) {
      .dance__title_big {
        font-size: 110px; } }
    @media screen and (max-width: 767px) {
      .dance__title_big {
        font-size: 40px; } }
  .dance__title_normal {
    color: #fff;
    display: block;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 54px;
    text-transform: uppercase; }
    @media screen and (max-width: 991px) {
      .dance__title_normal {
        font-size: 45px; } }
    @media screen and (max-width: 767px) {
      .dance__title_normal {
        font-size: 14px; } }
  .dance__text_mini {
    color: #fff;
    display: block;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 26px;
    margin-bottom: 1rem; }
    @media screen and (max-width: 991px) {
      .dance__text_mini {
        margin-bottom: 0;
        font-size: 16px; } }
    @media screen and (max-width: 767px) {
      .dance__text_mini {
        font-size: 14px; } }

.information {
  padding-top: 130px; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .information {
      overflow: hidden; } }
  @media screen and (max-width: 767px) {
    .information {
      padding-top: 40px; }
      .information .container {
        width: 100%; } }
  .information-second {
    padding-top: 100px; }
    @media screen and (max-width: 767px) {
      .information-second {
        padding-top: 0; } }
  .information .information-lines_rotate {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: rotate(90deg) translateX(-50%);
        -ms-transform: rotate(90deg) translateX(-50%);
            transform: rotate(90deg) translateX(-50%);
    width: 202px; }
    @media screen and (max-width: 991px) {
      .information .information-lines_rotate {
        display: none; } }
  .information .information-lines-mob {
    margin-top: 40px;
    height: 50px; }
    .information .information-lines-mob_rotate {
      margin-top: 0;
      position: absolute;
      top: 100px;
      right: -13px;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      width: 76px;
      height: 50px; }
  .information .information-face {
    position: absolute;
    bottom: 0;
    left: -7.5%; }
    @media screen and (max-width: 1500px) {
      .information .information-face {
        left: -220px; } }
    @media screen and (max-width: 1270px) {
      .information .information-face {
        display: none; } }
  .information .information-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem; }
  .information .information-list__item .information-text {
    background: url("../img/ellipse.png") no-repeat 0 center;
    margin: 0 auto 60px;
    max-width: 70%;
    padding-left: 90px; }
    @media screen and (max-width: 1199px) {
      .information .information-list__item .information-text {
        max-width: 90%; } }
    @media screen and (max-width: 767px) {
      .information .information-list__item .information-text {
        background-size: 11px;
        margin-bottom: 1rem;
        padding-left: 25px; } }
    .information .information-list__item .information-text_normal {
      display: block;
      font-size: 30px;
      font-family: "Oswald-Regular", sans-serif;
      line-height: 1.5;
      color: #292929; }
      @media screen and (max-width: 767px) {
        .information .information-list__item .information-text_normal {
          font-size: 14px; } }
    .information .information-list__item .information-text_big {
      display: block;
      font-size: 45px;
      font-family: "Oswald-Regular", sans-serif;
      color: #ee2f2a;
      letter-spacing: unset;
      line-height: 1.5;
      text-transform: uppercase; }
      @media screen and (max-width: 767px) {
        .information .information-list__item .information-text_big {
          font-size: 16px;
          margin-top: 0.5rem; } }
  .information .information-list__item:last-child .information-text {
    background: none;
    margin-bottom: 0; }
  .information .information-question {
    font-size: 31px;
    font-family: "Oswald-Light", sans-serif;
    color: #292929;
    margin-bottom: 0;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .information .information-question {
        font-size: 14px; } }
    .information .information-question:nth-of-type(1) {
      margin-top: 100px; }
      @media screen and (max-width: 767px) {
        .information .information-question:nth-of-type(1) {
          margin-top: 40px; } }
  .information .information-stars {
    padding: 0 1rem; }
    .information .information-stars__text {
      color: #292929;
      font-family: "Oswald-Regular", sans-serif;
      font-size: 50px;
      max-width: 80%;
      margin: 50px auto;
      text-align: center;
      text-transform: uppercase; }
      @media screen and (max-width: 767px) {
        .information .information-stars__text {
          font-size: 20px;
          margin: 20px auto;
          max-width: 100%; } }
    .information .information-stars .stars {
      text-align: center; }
      .information .information-stars .stars img, .information .information-stars .stars svg {
        margin: 0 1rem;
        width: 28px;
        height: 28px; }
        @media screen and (max-width: 767px) {
          .information .information-stars .stars img, .information .information-stars .stars svg {
            margin: 0 0.5rem;
            width: 20px;
            height: 20px; } }

.video {
  padding: 70px 1rem; }
  @media screen and (max-width: 767px) {
    .video {
      padding: 20px 1rem; } }
  .video .video-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 767px) {
      .video .video-container {
        padding: 0; } }
  .video .video-lines {
    height: 144px;
    overflow: hidden; }
  .video .video-item {
    margin-top: 50px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .video .video-item {
        margin-top: 20px; } }
    .video .video-item .embed-responsive {
      max-width: 992px;
      margin: auto; }
    .video .video-item .js-videoIframe {
      border: 1px solid #ccc;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0; }
      .video .video-item .js-videoIframe .video-button {
        background-color: transparent;
        cursor: pointer;
        max-width: 100px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
        .video .video-item .js-videoIframe .video-button svg {
          width: 100%;
          opacity: 0.6; }
  .video__title {
    text-align: center; }
    .video__title_big {
      color: #292929;
      font-family: "Oswald-Regular", sans-serif;
      font-size: 40px;
      text-transform: uppercase; }
      @media screen and (max-width: 767px) {
        .video__title_big {
          font-size: 20px; } }
    .video__title_normal {
      color: #292929;
      font-family: "Oswald-Regular", sans-serif;
      font-size: 30px; }
      @media screen and (max-width: 767px) {
        .video__title_normal {
          font-size: 14px; } }
      .video__title_normal_red {
        font-family: "Oswald-Regular", sans-serif;
        font-size: 30px;
        color: #ee2f2a;
        -webkit-animation: pulsate-video-text 2s linear infinite;
        animation: pulsate-video-text 2s linear infinite; }
        .video__title_normal_red svg {
          width: 25px;
          height: 25px;
          -webkit-animation: pulsate-arrow 1s linear infinite;
          animation: pulsate-arrow 1s linear infinite; }
          @media screen and (max-width: 767px) {
            .video__title_normal_red svg {
              width: 15px; } }

@-webkit-keyframes pulsate-video-text {
  50% {
    color: #333;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ccc, 0 0 8px #ccc;
    opacity: 1; } }

@keyframes pulsate-video-text {
  50% {
    color: #333;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ccc, 0 0 8px #ccc;
    opacity: 1; } }

@-webkit-keyframes pulsate-arrow {
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@keyframes pulsate-arrow {
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }
        @media screen and (max-width: 767px) {
          .video__title_normal_red {
            font-size: 14px; } }

.mentors {
  background-color: #ee2f2a;
  padding-bottom: 47px; }
  @media screen and (max-width: 767px) {
    .mentors {
      background-color: #fff;
      padding-bottom: 0; } }
  .mentors .mentors-container {
    max-width: 1350px;
    margin: auto;
    padding: 0 1rem; }
  .mentors__title {
    color: #fff;
    font-size: 110px;
    font-family: "Oswald-SemiBold", sans-serif;
    float: left;
    line-height: 1;
    margin: 70px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    @media screen and (max-width: 767px) {
      .mentors__title {
        color: #ee2f2a;
        font-size: 30px;
        margin: 35px 0; } }
  .mentors .mentors-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
    @media screen and (max-width: 1199px) and (min-width: 768px) {
      .mentors .mentors-list {
        width: 80%;
        margin: auto; } }
    @media screen and (max-width: 1199px) {
      .mentors .mentors-list .slick-initialized .slick-slide {
        max-width: 192px;
        margin: auto; } }
    .mentors .mentors-list .slick-list {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%; }
    .mentors .mentors-list .slick-next {
      right: -1rem;
      width: 20px;
      height: 20px;
      background: url("../img/arrow-point-to-right.svg") no-repeat center;
      background-size: 100%; }
      @media screen and (max-width: 1199px) and (min-width: 768px) {
        .mentors .mentors-list .slick-next {
          right: -1rem;
          top: 40%;
          z-index: 3; } }
      @media screen and (max-width: 767px) {
        .mentors .mentors-list .slick-next {
          right: 1rem;
          top: 40%;
          z-index: 3; } }
      .mentors .mentors-list .slick-next img {
        width: 20px; }
    .mentors .mentors-list .slick-prev {
      left: -1rem;
      width: 20px;
      height: 20px;
      background: url("../img/arrow-point-to-right.svg") no-repeat center;
      background-size: 100%;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
      @media screen and (max-width: 1199px) and (min-width: 768px) {
        .mentors .mentors-list .slick-prev {
          left: -1rem;
          top: 40%;
          z-index: 3; } }
      @media screen and (max-width: 767px) {
        .mentors .mentors-list .slick-prev {
          left: 1rem;
          top: 40%;
          z-index: 3; } }
      .mentors .mentors-list .slick-prev img {
        width: 20px; }
    .mentors .mentors-list__item {
      padding: 0 0.5rem; }
    .mentors .mentors-list__image {
      cursor: pointer;
      border-radius: 50%; }
      .mentors .mentors-list__image img {
        margin: auto;
        border-radius: 50%;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .mentors .mentors-list__image img:hover {
          -webkit-box-shadow: 0px 18px 18px 0px rgba(0, 0, 0, 0.3);
                  box-shadow: 0px 18px 18px 0px rgba(0, 0, 0, 0.3); }
          @media screen and (max-width: 1199px) {
            .mentors .mentors-list__image img:hover {
              -webkit-box-shadow: unset;
                      box-shadow: unset; } }
    .mentors .mentors-list__name {
      color: #fff;
      font-family: "Oswald-Medium", sans-serif;
      font-size: 22px;
      margin-top: 1.25rem;
      text-align: center;
      text-transform: uppercase; }
      @media screen and (max-width: 767px) {
        .mentors .mentors-list__name {
          color: #292929; } }
    .mentors .mentors-list__label {
      color: #fff;
      font-family: "Oswald-Light", sans-serif;
      font-size: 24px;
      letter-spacing: 5px;
      line-height: 1;
      margin-top: 60px;
      opacity: 0.4;
      text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
      -webkit-animation: pulsate 2s linear infinite;
      animation: pulsate 2s linear infinite; }
      @media screen and (max-width: 767px) {
        .mentors .mentors-list__label {
          color: #000;
          margin-top: 20px;
          opacity: 1;
          font-size: 11px;
          -webkit-animation: pulsate-mob 2s linear infinite;
                  animation: pulsate-mob 2s linear infinite; } }

@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
    opacity: 1; } }

@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
    opacity: 1; } }

@-webkit-keyframes pulsate-mob {
  50% {
    color: #000;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #000, 0 0 8px #000;
    opacity: 1; } }

@keyframes pulsate-mob {
  50% {
    color: #000;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #000, 0 0 8px #000;
    opacity: 1; } }

.mentors-list-inside {
  margin-top: 1rem; }
  @media screen and (max-width: 767px) {
    .mentors-list-inside {
      max-width: 375px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.75rem !important; } }
  .mentors-list-inside li {
    margin-bottom: 0.5rem; }
    @media screen and (max-width: 767px) {
      .mentors-list-inside li {
        text-align: left; } }
    .mentors-list-inside li span {
      background: url("../img/ellipse-mini.png") no-repeat 0 50%;
      display: inline-block;
      font-family: "Oswald-Light", sans-serif;
      font-size: 16px;
      padding-left: 25px;
      text-align: left; }
      @media screen and (max-width: 767px) {
        .mentors-list-inside li span {
          font-size: 14px;
          padding-left: 1rem; } }

.mentors-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .mentors-data__left img {
    max-width: 125px; }
  @media screen and (max-width: 767px) {
    .mentors-data__left {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      text-align: center; } }
  .mentors-data__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 125px);
            flex: 0 0 calc(100% - 125px);
    max-width: calc(100% - 125px);
    padding-left: 50px; }
    @media screen and (max-width: 767px) {
      .mentors-data__right {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        margin-top: 1rem;
        padding-left: 0;
        text-align: center; } }
  .mentors-data-wrapper {
    width: 1015px !important;
    padding: 100px 50px !important;
    margin: auto !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    opacity: 0; }
    @media screen and (max-width: 767px) {
      .mentors-data-wrapper {
        padding: 1rem !important; } }
    .mentors-data-wrapper .fancybox-close-small {
      color: #000 !important;
      opacity: 1 !important; }
  .mentors-data__name {
    color: #000;
    font-size: 50px;
    font-family: "Oswald-Medium", sans-serif;
    line-height: 1;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .mentors-data__name {
        font-size: 18px; } }
  .mentors-data__description {
    margin-top: 30px; }
    .mentors-data__description li {
      background: url("../img/ellipse-mini.png") no-repeat 0 center;
      color: #000;
      font-size: 20px;
      font-family: "Oswald-Light", sans-serif;
      padding-left: 25px; }
      @media screen and (max-width: 767px) {
        .mentors-data__description li {
          font-size: 14px; } }
    .mentors-data__description img {
      margin-right: 1rem; }

.talent .talent-lines-mob {
  margin-top: 50px; }

.talent .talent-lines {
  margin-top: 70px;
  margin-bottom: 20px;
  height: 144px;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .talent .talent-lines {
      margin-top: 0; } }
  .talent .talent-lines:last-child {
    margin-top: 150px;
    margin-bottom: 0; }
    @media screen and (max-width: 767px) {
      .talent .talent-lines:last-child {
        margin-top: 50px; } }

.talent .talent-lines-last {
  margin-bottom: 0; }

.talent .talent-container {
  max-width: 1530px;
  margin: auto;
  padding: 0 1rem; }

.talent__title {
  color: #292929;
  font-family: "Oswald-SemiBold", sans-serif;
  font-size: 70px;
  margin: 35px 0;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 2; }
  @media screen and (max-width: 767px) {
    .talent__title {
      font-size: 30px;
      text-align: left; } }

.talent .talent-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.talent__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  min-height: 850px; }
  @media screen and (max-width: 767px) {
    .talent__left {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      min-height: 350px;
      display: none; } }
  .talent__left img {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1; }
    @media screen and (max-width: 1450px) {
      .talent__left img {
        left: 0; } }
    @media screen and (max-width: 992px) {
      .talent__left img {
        max-width: 750px;
        left: -25%; } }
    @media screen and (max-width: 767px) {
      .talent__left img {
        position: static;
        -webkit-transform: unset;
            -ms-transform: unset;
                transform: unset; } }

.talent__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  min-height: 850px;
  position: relative;
  z-index: 2; }
  @media screen and (max-width: 767px) {
    .talent__right {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      min-height: 350px; } }

.talent__date {
  color: #aaaaaa;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 20px; }
  @media screen and (max-width: 767px) {
    .talent__date {
      font-size: 14px; } }

.talent__title_red {
  color: #ee2f2a;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 56px;
  line-height: 1.3;
  margin: 50px 0;
  max-width: 80%;
  text-transform: uppercase; }
  @media screen and (max-width: 1450px) {
    .talent__title_red {
      font-size: 50px;
      max-width: 100%; } }
  @media screen and (max-width: 991px) {
    .talent__title_red {
      font-size: 40px; } }
  @media screen and (max-width: 767px) {
    .talent__title_red {
      font-size: 20px;
      margin: 20px 0; } }

.talent__text {
  color: #292929;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
  max-width: 68%; }
  @media screen and (max-width: 1450px) {
    .talent__text {
      max-width: 100%; } }
  @media screen and (max-width: 767px) {
    .talent__text {
      font-size: 20px;
      margin-bottom: 1rem; } }
  @media screen and (max-width: 580px) {
    .talent__text {
      font-size: 18px; } }

.talent__text_light {
  color: #676767;
  font-family: "Oswald-Light", sans-serif;
  font-size: 20px;
  margin-bottom: 1rem; }
  @media screen and (max-width: 767px) {
    .talent__text_light {
      font-size: 16px; } }

.talent .talent-list__item {
  background: url("../img/ellipse-mini.png") no-repeat 0 12.5px;
  margin-bottom: 0.5rem;
  padding-left: 25px; }

.talent .talent-send {
  background-color: #ee2f2a;
  border-radius: 30px;
  color: #fff;
  font-family: "Oswald-Regular", sans-serif;
  font-size: 20px;
  display: inline-block;
  margin-top: 50px;
  padding: 1rem 3rem;
  text-transform: uppercase; }
  @media screen and (max-width: 767px) {
    .talent .talent-send {
      font-size: 14px;
      margin-top: 20px;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      padding: 0.5rem 2.5rem; } }
  @media screen and (max-width: 767px) {
    .talent .talent-send {
      margin-left: calc(50% - 85px);
      -webkit-transform: unset;
          -ms-transform: unset;
              transform: unset; } }
  .talent .talent-send:hover {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
    text-decoration: none; }

.feedback {
  background-color: #f7f7f7;
  position: relative; }
  .feedback:after {
    content: '';
    clear: both;
    display: table; }
  .feedback__absolute {
    position: absolute; }
    .feedback__absolute_right {
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      max-width: 350px; }
      @media screen and (max-width: 767px) {
        .feedback__absolute_right {
          display: none; } }
    .feedback__absolute_left {
      left: -600px;
      bottom: -100px; }
      @media screen and (max-width: 860px) {
        .feedback__absolute_left {
          left: -700px; } }
      @media screen and (max-width: 767px) {
        .feedback__absolute_left {
          display: none; } }
  .feedback .feedback-lines-mob {
    margin-bottom: 50px;
    height: 25px; }
    .feedback .feedback-lines-mob:last-child {
      margin-top: 50px;
      margin-bottom: 0; }
  .feedback .feedback-lines {
    height: 144px;
    overflow: hidden; }
    .feedback .feedback-lines:first-child {
      margin-bottom: 100px; }
      @media screen and (max-width: 767px) {
        .feedback .feedback-lines:first-child {
          margin-bottom: 50px; } }
    .feedback .feedback-lines:last-child {
      margin-top: 180px; }
      @media screen and (max-width: 767px) {
        .feedback .feedback-lines:last-child {
          margin-top: 50px;
          margin-bottom: 0; } }
  .feedback .feedback-lines-last {
    margin-top: 180px; }
  .feedback .feedback-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem; }
  .feedback__title {
    color: #292929;
    font-size: 50px;
    font-family: "Oswald-Regular", sans-serif;
    max-width: 767px;
    margin: auto;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .feedback__title {
        font-size: 20px; } }
  .feedback .feedback-casting {
    font-family: "Oswald-Regular", sans-serif;
    font-size: 30px;
    margin-top: 90px;
    position: relative;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .feedback .feedback-casting {
        margin-top: 50px; } }
    .feedback .feedback-casting__title {
      font-family: "Oswald-Regular", sans-serif; }
      @media screen and (max-width: 767px) {
        .feedback .feedback-casting__title {
          font-size: 14px; } }
    .feedback .feedback-casting .feedback-casting-form {
      margin-top: 45px; }
      @media screen and (max-width: 767px) {
        .feedback .feedback-casting .feedback-casting-form {
          margin-top: 20px; } }
      .feedback .feedback-casting .feedback-casting-form-attention {
        color: #ee2f2a;
        font-size: 14px;
        font-family: "Oswald-Regular", sans-serif;
        margin-top: 50px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        text-align: center; }
        @media screen and (max-width: 767px) {
          .feedback .feedback-casting .feedback-casting-form-attention {
            font-size: 12px;
            margin-top: 35px;
            text-align: center; } }
      .feedback .feedback-casting .feedback-casting-form .col-12 {
        position: relative; }
        @media screen and (max-width: 991px) {
          .feedback .feedback-casting .feedback-casting-form .col-12 {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
            max-width: 50%; } }
        @media screen and (max-width: 767px) {
          .feedback .feedback-casting .feedback-casting-form .col-12 {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            max-width: 100%; } }
      .feedback .feedback-casting .feedback-casting-form-wrap {
        width: 100%;
        margin-bottom: 1rem; }
        .feedback .feedback-casting .feedback-casting-form-wrap.license {
          margin-bottom: 0;
          padding-top: 36px;
          padding-left: 1rem; }
          @media screen and (max-width: 767px) {
            .feedback .feedback-casting .feedback-casting-form-wrap.license {
              padding-left: 100px; } }
          @media screen and (max-width: 580px) {
            .feedback .feedback-casting .feedback-casting-form-wrap.license {
              padding-left: 0; } }
        .feedback .feedback-casting .feedback-casting-form-wrap span {
          display: block; }
      .feedback .feedback-casting .feedback-casting-form__name {
        color: #292929;
        font-family: "Oswald-Regular", sans-serif;
        font-size: 14px;
        margin-bottom: 0.5rem;
        text-transform: uppercase; }
      .feedback .feedback-casting .feedback-casting-form__input {
        border: 1px solid #c3c3c3;
        border-radius: 10px;
        color: #292929;
        font-family: "Oswald-Regular", sans-serif;
        font-size: 14px;
        padding: 0 1rem;
        height: 60px;
        width: 100%;
        text-align: center; }
      .feedback .feedback-casting .feedback-casting-form__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        text-align: left; }
        @media screen and (max-width: 991px) and (min-width: 768px) {
          .feedback .feedback-casting .feedback-casting-form__row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap; } }
        .feedback .feedback-casting .feedback-casting-form__row input {
          display: none;
          margin-right: 1rem; }
        .feedback .feedback-casting .feedback-casting-form__row .checkmark {
          border: 1px solid #000;
          border-radius: 50%;
          display: inline-block;
          margin-right: 0.5rem;
          width: 10px;
          height: 10px;
          position: relative; }
          .feedback .feedback-casting .feedback-casting-form__row .checkmark:after {
            content: '';
            background: none;
            width: 15px;
            height: 15px;
            position: absolute;
            left: 0;
            top: 0; }
        .feedback .feedback-casting .feedback-casting-form__row input:checked ~ .checkmark:after {
          content: '';
          background: url("../img/tick.png") no-repeat 1px -1.5px; }
      .feedback .feedback-casting .feedback-casting-form__license {
        color: #292929;
        font-family: "Oswald-Regular", sans-serif;
        font-size: 14px; }
        @media screen and (max-width: 1199px) {
          .feedback .feedback-casting .feedback-casting-form__license {
            font-size: 12px; } }
        .feedback .feedback-casting .feedback-casting-form__license a {
          color: #292929;
          text-decoration: underline; }
          @media screen and (max-width: 991px) and (min-width: 768px) {
            .feedback .feedback-casting .feedback-casting-form__license a {
              width: 100%; } }
      .feedback .feedback-casting .feedback-casting-form__download {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        z-index: 1; }
        .feedback .feedback-casting .feedback-casting-form__download_input {
          position: absolute;
          display: none; }
      .feedback .feedback-casting .feedback-casting-form__button {
        background-color: #ee2f2a;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border: 1px solid #ee2f2a;
        border-radius: 50px;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 350px;
        margin: 0 auto;
        padding: 1.5rem 60px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        @media screen and (max-width: 767px) {
          .feedback .feedback-casting .feedback-casting-form__button {
            padding: 0.5rem 1rem;
            max-width: 225px; } }
        .feedback .feedback-casting .feedback-casting-form__button_disable {
          background-color: #d4d4d4;
          cursor: unset; }
          .feedback .feedback-casting .feedback-casting-form__button_disable:hover, .feedback .feedback-casting .feedback-casting-form__button_disable:focus {
            outline: none;
            -webkit-box-shadow: none !important;
                    box-shadow: none !important; }
        .feedback .feedback-casting .feedback-casting-form__button:hover, .feedback .feedback-casting .feedback-casting-form__button:focus {
          outline: none;
          -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
                  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3); }
        .feedback .feedback-casting .feedback-casting-form__button img {
          margin-right: 1rem; }
        .feedback .feedback-casting .feedback-casting-form__button span {
          color: #fff;
          display: block;
          font-family: "Oswald-Regular", sans-serif;
          font-size: 20px;
          pointer-events: none;
          text-align: center;
          text-transform: uppercase; }
          @media screen and (max-width: 767px) {
            .feedback .feedback-casting .feedback-casting-form__button span {
              font-size: 14px; } }
      .feedback .feedback-casting .feedback-casting-form__message {
        color: red; }
      .feedback .feedback-casting .feedback-casting-form-success {
        height: 550px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        .feedback .feedback-casting .feedback-casting-form-success-row {
          height: 550px;
          display: none; }

.feedback-casting-form-progress {
  max-width: 550px;
  margin: 0 auto; }
  .feedback-casting-form-progress__line {
    background-color: #ee2f2a;
    border-radius: 6px;
    height: 6px;
    max-width: 550px;
    margin: 25px auto; }

.feedback-casting-form {
  margin-top: 45px; }
  @media screen and (max-width: 767px) {
    .feedback-casting-form {
      margin-top: 20px; } }
  .feedback-casting-form-attention {
    color: #ee2f2a;
    font-size: 14px;
    font-family: "Oswald-Regular", sans-serif;
    margin-top: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .feedback-casting-form-attention {
        font-size: 12px;
        margin-top: 35px;
        text-align: center; } }
  .feedback-casting-form .col-12 {
    position: relative; }
    @media screen and (max-width: 991px) {
      .feedback-casting-form .col-12 {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        max-width: 50%; } }
    @media screen and (max-width: 767px) {
      .feedback-casting-form .col-12 {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%; } }
  .feedback-casting-form-wrap {
    width: 100%;
    margin-bottom: 1rem; }
    .feedback-casting-form-wrap.license {
      margin-bottom: 0;
      padding-top: 36px;
      padding-left: 1rem; }
      @media screen and (max-width: 767px) {
        .feedback-casting-form-wrap.license {
          padding-left: 100px; } }
      @media screen and (max-width: 580px) {
        .feedback-casting-form-wrap.license {
          padding-left: 0; } }
    .feedback-casting-form-wrap span {
      display: block; }
  .feedback-casting-form__name {
    color: #292929;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 14px;
    margin-bottom: 0.5rem;
    text-transform: uppercase; }
  .feedback-casting-form__input {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    color: #292929;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 14px;
    padding: 0 1rem;
    height: 60px;
    width: 100%;
    text-align: center; }
  .feedback-casting-form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left; }
    @media screen and (max-width: 991px) and (min-width: 768px) {
      .feedback-casting-form__row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .feedback-casting-form__row input {
      display: none;
      margin-right: 1rem; }
    .feedback-casting-form__row .checkmark {
      border: 1px solid #000;
      border-radius: 50%;
      display: inline-block;
      margin-right: 0.5rem;
      width: 10px;
      height: 10px;
      position: relative; }
      .feedback-casting-form__row .checkmark:after {
        content: '';
        background: none;
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 0; }
    .feedback-casting-form__row input:checked ~ .checkmark:after {
      content: '';
      background: url("../img/tick.png") no-repeat 1px -1.5px; }
  .feedback-casting-form__license {
    color: #292929;
    font-family: "Oswald-Regular", sans-serif;
    font-size: 14px; }
    @media screen and (max-width: 1199px) {
      .feedback-casting-form__license {
        font-size: 12px; } }
    .feedback-casting-form__license a {
      color: #292929;
      text-decoration: underline; }
      @media screen and (max-width: 991px) and (min-width: 768px) {
        .feedback-casting-form__license a {
          width: 100%; } }
  .feedback-casting-form__download {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1; }
    .feedback-casting-form__download_input {
      position: absolute;
      display: none; }
  .feedback-casting-form__button {
    background-color: #ee2f2a;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border: 1px solid #ee2f2a;
    border-radius: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 350px;
    margin: 0 auto;
    padding: 1.5rem 60px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    @media screen and (max-width: 767px) {
      .feedback-casting-form__button {
        padding: 0.5rem 1rem;
        max-width: 225px; } }
    .feedback-casting-form__button_disable {
      background-color: #d4d4d4;
      cursor: unset; }
      .feedback-casting-form__button_disable:hover, .feedback-casting-form__button_disable:focus {
        outline: none;
        -webkit-box-shadow: none !important;
                box-shadow: none !important; }
    .feedback-casting-form__button:hover, .feedback-casting-form__button:focus {
      outline: none;
      -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
              box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.3); }
    .feedback-casting-form__button img {
      margin-right: 1rem; }
    .feedback-casting-form__button span {
      color: #fff;
      display: block;
      font-family: "Oswald-Regular", sans-serif;
      font-size: 20px;
      pointer-events: none;
      text-align: center;
      text-transform: uppercase; }
      @media screen and (max-width: 767px) {
        .feedback-casting-form__button span {
          font-size: 14px; } }
  .feedback-casting-form__message {
    color: red; }
  .feedback-casting-form-success {
    height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .feedback-casting-form-success-row {
      height: 550px;
      display: none; }

.faq {
  padding-bottom: 70px;
  position: relative; }
  @media screen and (max-width: 767px) {
    .faq .container {
      width: 100%; } }
  .faq .faq-lines {
    height: 144px;
    overflow: hidden; }
  .faq .faq-lines-mob {
    margin-bottom: 50px;
    height: 25px; }
  .faq .faq-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem; }
  .faq_absolute {
    position: absolute;
    right: 0;
    top: -100px; }
  .faq__title {
    color: #292929;
    font-family: "Oswald-Medium", sans-serif;
    font-size: 110px;
    line-height: 1;
    margin-bottom: 60px;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .faq__title {
        font-size: 40px;
        margin-bottom: 20px; } }
  .faq .faq-list__item {
    cursor: pointer;
    position: relative;
    width: 100%;
    z-index: 2; }
    .faq .faq-list__item .faq-list-wrapper-request {
      color: #747474;
      font-size: 16px;
      font-family: "Oswald-Regular", sans-serif;
      text-transform: uppercase;
      display: none;
      padding: 1rem 0; }
      @media screen and (max-width: 767px) {
        .faq .faq-list__item .faq-list-wrapper-request {
          font-size: 12px; } }
    .faq .faq-list__item .faq-list-wrapper {
      border-bottom: 1px solid rgba(56, 56, 56, 0.122);
      position: relative;
      padding: 20px 0; }
      @media screen and (max-width: 767px) {
        .faq .faq-list__item .faq-list-wrapper {
          padding: 10px 0; } }
      .faq .faq-list__item .faq-list-wrapper:before {
        content: '';
        background: #ee2f2a;
        position: absolute;
        display: block;
        height: 10px;
        width: 2px;
        right: 4px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .faq .faq-list__item .faq-list-wrapper:after {
        content: '';
        background: #ee2f2a;
        position: absolute;
        display: block;
        height: 2px;
        width: 10px;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }
      .faq .faq-list__item .faq-list-wrapper.active:before {
        opacity: 0; }
      .faq .faq-list__item .faq-list-wrapper span {
        color: #747474;
        font-size: 18px;
        font-family: "Oswald-Regular", sans-serif;
        text-transform: uppercase; }
        @media screen and (max-width: 767px) {
          .faq .faq-list__item .faq-list-wrapper span {
            font-size: 12px;
            display: inline-block;
            padding-right: 25px; } }
  .faq .faq-list__icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.footer {
  background-color: #292929;
  padding: 1rem; }
  .footer .footer-container {
    max-width: 1530px;
    margin: auto;
    padding: 0 1rem; }
  .footer .footer-list {
    color: #fff;
    margin-top: 45px;
    text-align: center; }
    .footer .footer-list__item {
      margin-bottom: 25px; }
      .footer .footer-list__item .footer-social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .footer .footer-list__item .footer-social__link {
          background-color: #fff;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          margin: 0 0.5rem;
          padding: 0.5rem; }
          .footer .footer-list__item .footer-social__link:hover {
            opacity: 0.6; }
          .footer .footer-list__item .footer-social__link i {
            color: #ee2f2a;
            font-size: 24px; }
      .footer .footer-list__item a, .footer .footer-list__item span {
        color: #fff;
        display: inline-block;
        font-family: "Oswald-Regular", sans-serif;
        font-size: 14px; }
      .footer .footer-list__item a:hover {
        opacity: 0.6;
        text-decoration: none; }
      .footer .footer-list__item span {
        display: block; }
    .footer .footer-list .footer-logo img {
      width: 198px; }

.girl-mobile {
  display: none;
  overflow: hidden; }
  @media screen and (max-width: 767px) {
    .girl-mobile {
      display: block;
      text-align: center; }
      .girl-mobile__image {
        max-width: 425px;
        position: absolute;
        left: 50%;
        top: 75px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); } }
  @media screen and (max-width: 580px) {
    .girl-mobile__image {
      left: 0;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); } }
  .girl-mobile .girl-mobile-container {
    padding: 0 1rem;
    position: relative;
    min-height: 565px; }
  .girl-mobile .girl-mobile-lines-mob {
    position: static;
    margin-top: 50px;
    margin-bottom: 25px;
    height: 50px; }
