.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px; }
  @media screen and (max-width: 767px) {
    .timer {
      margin-top: 50px; } }
  .timer .timer-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .timer .timer-custom:first-child .timer-custom__value {
        min-width: 60px; } }
    .timer .timer-custom__value {
      color: #ee2f2a;
      font-size: 110px;
      font-family: "Oswald-Regular", sans-serif;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      line-height: 1;
      max-width: 100%; }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .timer .timer-custom__value {
          min-width: 120px; } }
      @media screen and (max-width: 767px) {
        .timer .timer-custom__value {
          font-size: 50px; } }
    .timer .timer-custom__text {
      color: #aaaaaa;
      font-size: 20px;
      font-family: "Oswald-Regular", sans-serif;
      margin-top: 35px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
      text-transform: uppercase; }
      @media screen and (max-width: 767px) {
        .timer .timer-custom__text {
          font-size: 14px;
          margin-top: 1rem; } }
    .timer .timer-custom__separator {
      background: url("../img/separator.png") no-repeat center;
      -webkit-transform: translateY(-25px);
          -ms-transform: translateY(-25px);
              transform: translateY(-25px);
      width: 20px;
      height: 60px; }
      @media screen and (max-width: 767px) {
        .timer .timer-custom__separator {
          width: 5px;
          height: 15px;
          -webkit-transform: translateY(-10px);
              -ms-transform: translateY(-10px);
                  transform: translateY(-10px); } }
      .timer .timer-custom__separator img {
        margin: 0 1rem; }
        @media screen and (max-width: 767px) {
          .timer .timer-custom__separator img {
            width: 5px; } }

.custom-select--active {
  z-index: 999; }
